.content{
    -webkit-box-flex:1;
    -ms-flex:1;
    flex:1;
    padding:20px
}
.name_box {
    padding:20px 0
}
.name_box p:first-child {
    font-size:38px;
    line-height:55px
}
.name_box p:last-child {
    color:rgba(0,0,0,.8);
    font-size:18px
}
.title {
    font-size:22px;
    padding-bottom:10px;
    border-bottom:1px solid #b4d3c4
}
.skill ul {
    margin:10px 0 20px
}
.end,.front,.group {
    list-style:none
}
.end ul,.front ul,.group ul {
    padding-left:40px
}
.end ul li,.front ul li,.group ul li {
    margin:.5rem 0
}
.end p,.front p,.group p {
    font-size:18px;
    line-height:40px
}
.desc {
    margin-top:20px
}
.desc .content-wrap {
    margin:20px 0 30px 5px
}
.desc p {
    line-height:22px;
    margin-top:10px
}
.project ol {
    margin-left:20px
}
.project ol li {
    font-size:18px;
    margin:20px 0 10px
}
.project ol li p {
    font-size:18px;
    line-height:40px
}
.project ol li p span {
    font-size:15px;
    vertical-align:middle
}
.project ol li ul {
    padding-left:20px
}
.project ol li ul li {
    font-size:16px;
    margin:.5rem 0;
    line-height:24px
}
